# Ignorar solo la metadata de Eclipse
.metadata/
JavaDocs/.metadata/

# Archivos comunes de Eclipse
*.classpath
*.project
*.settings/

# Archivos generados (compilación, temporales, etc.)
bin/
build/
target/
*.log
*.tmp
